<li class="">
	{{name}}

	<button class="change-devoured btn btn-secondary float-end" data-id="{{id}}" data-newdevoured="{{devoured}}">
		{{#if devoured}}DEVOURED!{{else}}WAITING...{{/if}}
	</button>

	<button class="delete-burger btn btn-danger float-end" data-id="{{this.id}}">DELETE!</button>
</li>
